BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BinPackParameters: false
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
AllowShortEnumsOnASingleLine: false
